body{
    padding-bottom: 120px;
    background-color: #F7F6F4 ;
    text-align: center;
    font-family: "SF Pro Display" , "Segoe UI", "Times New Roman";
}
#title h1{
    font-size: 62px;
    font-weight: bold;
    margin-top: 50px;
}
#title h1 span{
    font-weight: bolder;
    font-style: italic;
}
#title h4{
    font-size: 35px;
}
#contentInside{
    border-radius: 14px;
    padding: 50px;
    margin-top: 20px;
    border: 1px solid rgb(211, 211, 211);
    background-color: #fdfdfd;
    height: 595px;
}
#computer{
    height: 166px;
}
#computer p{
    color: grey;
}
#info{
    margin-top: 30px;
    border: 1px solid rgb(211, 211, 211);
    background-color: white;
    height: 74px;
    transition: transform .2s;
}
#info:hover{
    transform: scale(1.05);
}
#info h3{
    margin-top: 20px;
}
#inputUser{
    margin-top: 67px;
}
#inputUser p{
    color: rgb(197, 197, 197);
}
#inputUser img{
    cursor: pointer;
    transition: transform .2s;
}
#inputUser img:hover{
    transform: scale(1.05);
}
#text{
    font-weight: bold;
}
@media only screen and (max-width: 600px){
    #title h1{
        font-size: 40px;
    }
    #title h4{
        font-size: 25px;
    }
}